<div class="fe-field fe-text TXT form-group " [formGroup]="group">
    <label for="{{ config.id }}">{{ config.label }}</label>
    <input type="email" class="form-control" [attr.placeholder]="config.placeholder" [formControlName]="config.flexiLabel" [attr.id]="config.id">
    <div class="container">
        <span *ngFor="let err of errors">
            <small class="alert-danger" *ngIf="(group.controls[config.flexiLabel].touched ||
            group.controls[config.flexiLabel].dirty) &&
             group.controls[config.flexiLabel].invalid &&  
             group.controls[config.flexiLabel].errors[err.name]
             ">{{err.message}}</small>
        </span>
    </div>
</div>