<div class="fieldWrapper">
    <span *ngIf='showEdit' class="fieldOptions">
      <ul>
        <li (click)='openModal()'><i class="material-icons icon-size">settings</i></li>
        <li><i class="material-icons icon-size">open_with</i></li>
        <li (click)="close($event)"><i class="material-icons icon-size">clear</i></li>
      </ul>
    </span>
    <div class="form-group field">
      <label for="">{{properties.label}}</label>
      <div class="input-group" >
      <div class="input-group-prepend" *ngIf='prefix'>
        <span class="input-group-text" id="basic-addon1">{{properties.prefix}}</span>
      </div>
      <input type="text" placeholder={{properties.placeholder}} class="form-control">
      &nbsp;&nbsp;
      <div class='mt-2' *ngIf='tooltip'>
        <a class='card-tooltip' placement="right" ngbTooltip='{{properties.tooltip}}'>
            <i class="material-icons"> help </i>
          </a>
        </div> 
      <div class="input-group-append" *ngIf='suffix'>
        <span class="input-group-text">{{properties.suffix}}</span>
      </div>
      
      <br>
      <div role="presentation"><a >{{properties.description}}</a></div>
      
       

    </div>
    

  </div>
  
   <div class="description">
     {{description}}
   </div>
</div>
 