<div class="fieldWrapper">
    <span class="fieldOptions">
      <ul>
        <li (click)='openModal()'><i class="material-icons icon-size">settings</i></li>
        <li><i class="material-icons icon-size">open_with</i></li>
        <li (click)="close($event)"><i class="material-icons icon-size">clear</i></li>
      </ul>
    </span>
    <div class="form-group field">
      <label for="">{{label}}</label>
      <div class="input-group" >
      <div class="input-group-prepend" *ngIf='prefix'>
        <span class="input-group-text" id="basic-addon1">{{prefix}}</span>
      </div>
      <input type="text" placeholder={{placeholder}} class="form-control">
      <div class="input-group-append" *ngIf='suffix'>
        <span class="input-group-text">{{suffix}}</span>
      </div>

    </div>
  </div>
  <div *ngIf='tooltip'>
    <a class='card-tooltip' placement="right" [ngbTooltip]='tooltip'>
        <i class="material-icons"> help </i>
      </a>
   </div>
   <p>
         {{description}}
    </p>
</div>
 