<div class="container card">
    <h1 class="title-agile text-center"></h1>
    <div class="content-w3ls signin">
        <div class="content-top-agile">
            <h3 class="inline">Employee Personal Information
            </h3>
        </div>
        <div class="content-bottom">
            <form [formGroup]="form">
                <div class="form-content">
                    <div class="form-group"  style="display:flex;flex-wrap:wrap">
                        <ng-template #vc>
                        </ng-template>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>