<div class="feField feSelect SEL form-group" [formGroup]="group">
  <label for="{{ config.id }}">{{ config.label }}</label>
  <select [formControlName]="config.flexiLabel">
    <option value="">{{ config.placeholder }}</option>
    <option *ngFor="let option of config.options" value="{{ option }}"> {{ option }} </option>
  </select>
</div>
<div>
  <label>States</label>
  <select *ngIf="statesOfCountry.length > 0">
    <option>Pick a state</option>
    <option *ngFor="let p of statesOfCountry">{{p}}</option>
  </select>
</div>