<div [ngClass]="defaultClasses.fieldMainWrapperClasses"  [ngStyle]="style.fieldMainWrapperStyle">
    <div class="field-tool-wrapper">
        <span *ngIf='showEdit' class=" field-tool-container">
            <ul class=" field-tool">
              <li (click)='openModal()'>
                <i class="material-icons icon-size">settings</i>
              </li>
              <li>
                <i class="material-icons icon-size">open_with</i>
              </li>
              <li (click)="close($event)">
                <i class="material-icons icon-size">clear</i>
              </li>
            </ul>
          </span>
    </div>
  <div [ngClass]="defaultClasses.fieldWrapperClasses">
      <div [ngClass]="defaultClasses.fieldLabelContainerClasses" [ngStyle]="style.fieldLabelContainerStyle">
          <div class="label">
              <label for="{{ id }}"  [ngClass]="defaultClasses.labelClasses">{{ label }}</label>
          </div>
          <div [ngClass]="defaultClasses.fieldDescWrapperClasses" [ngStyle]="defaultClasses.fieldDescWrapperStyle" *ngIf="description">
              <span [ngClass]="defaultClasses.fieldDescContainerClasses">
                  <i class="material-icons " placement="right" [ngbTooltip]="description"> help</i>
              </span>
          </div>
      </div>
      <div [ngClass]="defaultClasses.fieldContainerClasses" [ngStyle]="style.fieldContainerStyle">
          <div [attr.id]="id" >
              <div class="form-check"  *ngFor="let opt of options; let i = index">
                  <input type="radio" [attr.flexilabel]="flexiLabel" [attr.option-index]="i"   class="form-check-input" value="{{opt.code}}"  [attr.id]="id+'_'+i"> {{opt.meaning}}
              </div>
          </div>
      </div>
  </div>
<div class="fieldWrapper">
  <span *ngIf='showEdit' class="fieldOptions">
    <ul>
      <li (click)='openModal()'><i class="material-icons icon-size">settings</i></li>
      <li><i class="material-icons icon-size">open_with</i></li>
      <li (click)="close($event)"><i class="material-icons icon-size">clear</i></li>
    </ul>
  </span>
  <div class="form-group field">
      <label for=""><b>{{properties.label}}</b>&nbsp;
        <span style='display: inline-block;' *ngIf='applicableProperties.tooltip'>
          <a  class='card-tooltip mt-2' placement="right" ngbTooltip='{{properties.tooltip}}'>
            <i style='font-size: 16px;' class="material-icons"> help </i>
          </a>
        </span>
      </label>
      <!-- <span class='mt-3 ml-1' *ngIf='applicableProperties.tooltip'>
        <a class='card-tooltip' placement="right" ngbTooltip='{{properties.tooltip}}'>
          <i class="material-icons"> help </i>
        </a>
      </span> -->
      <div class="input-group" *ngFor="let field of properties.inputPropsArray">
          <div class="form-check" >
              <input class="form-check-input" type="radio" value={{field.value}} name="radioInput">
              <label class="form-check-label" for={{field.label}}>
                {{field.label}}
              </label>
          </div>
         </div>
    <br>

    <div role="presentation"><a >{{properties.description}}</a></div>

</div>
</div>