<div class="chip">
	<div class="chip-label-container pointer flex" (click)="popUp()">
		<span>{{ name }}:&nbsp;"{{ operator }}" "{{ filter }}"
			<p class="inline" *ngFor="let flt of dependentValues">"{{flt}}"</p>
		</span>
	</div>
	<div class="filter-chip-close">
		<button class="btn btn-flat chip-close-btn" (click)="removeChip()">
			<i class="icon md-cancel"></i>
		</button>
	</div>
</div>
<fe-popUp *ngIf="checked" [filteredCol]="filteredCol" [modify]="true" [value]="filter" [operator]="operator" (close)="closePopUp($event)" (filterString)="addFilter($event)"></fe-popUp>