<div class="fe-field fe-text TXT form-group " [formGroup]="group">
    <label for="{{ config.id }}">{{ config.label }}</label>
    <input id="typeahead-basic" type="text" [attr.placeholder]="config.placeholder" [formControlName]="config.flexiLabel" [attr.id]="config.id"
        class="form-control" [ngClass]="{'is-invalid':group.controls[config.flexiLabel].invalid && (group.controls[config.flexiLabel].dirty || group.controls[config.flexiLabel].touched)}"
        [ngbTypeahead]="search" />
    <div *ngIf="group.controls[config.flexiLabel].errors && (group.controls[config.flexiLabel].dirty || group.controls[config.flexiLabel].touched)">
        <span *ngFor="let err of customVal">
            <small class="text-danger" *ngIf="group.controls[config.flexiLabel].errors[err.name]">
                {{err.message}}
                <br>
            </small>
        </span>
        <span *ngFor="let err of errors">
            <small class="text-danger" *ngIf="group.controls[config.flexiLabel].errors[err.name]">
                {{err.message}}
            </small>
        </span>
    </div>
</div>