 <!-- <ng-template #content let-c="close" let-d="dismiss" >  -->
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="container-fluid">
    <form (ngSubmit)='onSubmit(f.value)' #f='ngForm'>
      <div class="row">
        <div class="col-md-8">

          <ngb-tabset>
            <ngb-tab title='Display'>
              <ng-template ngbTabContent>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">

                       <!-- Label for Flexiele -->
                       <label for="flexieleLabel" class='requiredClass mt-3' >Label</label>
                       <input type="text" class="form-control" id='flexieleLabel' placeholder="text" required ngModel  name='flexieleLabel' [(ngModel)]='componentData.flexieleLabel'>
                       


                        <!-- Label -->

                        <label for="label" class='requiredClass mt-3'>Label</label>
                        <input type="text" class="form-control" id='label' placeholder="text" required ngModel  name='label' [(ngModel)]='componentData.label' (ngModelChange)='update($event)'>



                        <!-- Hide Label CheckBox -->

                        <div class="form-check mb-2 mt-3">
                          <input  name='hideLabel' class="form-check-input" type="checkbox" value="hide" id="hideLabel"
                          name='hideLabel' [(ngModel)]='componentData.hideLabel' ngModel
                          (ngModelChange)='update($event)'>
                          <label class="form-check-label" for="hideLabel">
                            Hide Label
                          </label>
                        </div>



                        <!-- Drop down Menu of Label Position -->

                            <label for="labelPosition" class='requiredClass'>Label Position</label>
                            <select [(ngModel)]='componentData.labelPosition' ngModel
                            id="labelPosition" class="form-control"
                            name='labelPosition' required ngModel>
                              <option value='top'>Top</option>
                              <option value='bottom'>Bottom</option>
                              <option value='left-L' >Left(Left Aligned)</option>
                              <option value='left-R' >Left(Right Aligned)</option>
                              <option value='right-R'>Right(Right Aligned)</option>
                              <option value='right-L'>Right(Left Aligned)</option>
                            </select>




                        <!-- input box for Label Width -->
                        <div *ngIf="componentData.labelPosition=='left-L'
                        ||componentData.labelPosition=='left-R'||
                        componentData.labelPosition=='right-L'||
                        componentData.labelPosition=='right-R'">
                        <label for="label-width" class='mt-3 requiredClass' >Label Width</label>
                        <input
                        required [(ngModel)]='componentData.labelWidth' ngModel
                        type="text" class="form-control"
                        id='label-width'
                        placeholder='enter Label width'
                        name='labelWidth' >


                        <!-- input box for Label Margin -->


                        <label for="label-margin" class='mt-3 requiredClass'>Label Margin</label>
                        <input type="text" class="form-control" id='label-margin' placeholder='enter label'
                        [(ngModel)]='componentData.labelMargin' ngModel
                        name='labelMargin' >
                        </div>


                        <!-- Input Box for Placeholder -->
                        <label for="placeholder" class='mt-3'>Placeholder</label>
                        <input type="text" class="form-control" id='placeholder' placeholder='placeholder'
                        [(ngModel)]='componentData.placeholder' ngModel name='placeholder' (ngModelChange)='update($event)'>

                        <!-- Input box for Description -->
                        <label for="desc" class='mt-3'>Description</label>
                        <input type="text" class="form-control" id='desc' placeholder='description for this field'
                        [(ngModel)]='componentData.description' ngModel name='description' (ngModelChange)='update($event)'>


                        <!-- Input Box for ToolTip -->
                        <label for='tooltip' class='mt-3'>Tooltip</label>
                        <input type="text" class="form-control" id='tooltip' placeholder='to add tooltip to this field'
                        [(ngModel)]='componentData.tooltip' ngModel name='tooltip' (ngModelChange)='update($event)'>


                        <!-- Text Area for Error Label -->
                        <label for="error-label" class='mt-3'>Error Label</label>
                        <textarea class="form-control" rows="3" id="error-label" placeholder='Error Label'
                        [(ngModel)]='componentData.errorLabel' ngModel
                        name='errorLabel'
                        >
                      </textarea>


                        <!-- Input box for Input masking -->
                        <label for='mask' class='mt-3'>Input Mask</label>
                        <input type="text" class="form-control" id='mask' placeholder='input mask'
                        [(ngModel)]='componentData.inputMask' ngModel name='inputMask'>

                        <!-- Input box for Prefix -->
                        <label for='prefix' class='mt-3'>Prefix</label>
                        <input type="text" class="form-control" id='prefix' placeholder="example '$','@'"
                        [(ngModel)]='componentData.prefix' ngModel name='prefix' (ngModelChange)='update($event)'>

                        <!-- input box for suffix -->
                        <label for='suffix' class='mt-3'>Suffix</label>
                        <input type="text" class="form-control" id='suffix' placeholder="example '$','@'"
                        [(ngModel)]='componentData.suffix' ngModel
                        name='suffix'
                        (ngModelChange)='update($event)'>

                        <!-- input box for custom classes -->
                        <label for='custom' class='mt-3'>Custom CssClass</label>
                        <input type="text" class="form-control" id='custom' placeholder="add custom classes"
                        [(ngModel)]='componentData.customCssClass' ngModel name='customCss'>


                        <!-- Input box for Tab index  -->
                        <label for='tab-index' class='mt-3'>Tab Index</label>
                        <input type="text" class="form-control" id='tab-index' placeholder='tab Index'
                        [(ngModel)]='componentData.tabIndex' ngModel name='tabIndex'>



                        <!-- check boxes for clear value when Hidden -->
                        <div class="form-check  mt-3">
                          <input class="form-check-input" type="checkbox" value="clearValue" id="clear"
                          [(ngModel)]='componentData.clearValue' ngModel name='clearValue'>
                          <label class="form-check-label" for="clear">
                            Clear value when Hidden
                          </label>
                        </div>


                        <!-- Check box for Hidden -->
                        <div class="form-check mb-2 mt-3">
                          <input class="form-check-input" type="checkbox" value="hidden" id="hidden"
                          [(ngModel)]='componentData.hidden' ngModel name='hidden'>
                          <label class="form-check-label" for="hidden">
                            Hidden
                          </label>
                        </div>


                        <!-- check box for disabled -->
                        <div class="form-check mb-2 mt-3">
                          <input class="form-check-input" type="checkbox" value="disabled" id="disabled"
                          [(ngModel)]='componentData.disabled' ngModel name='disabled'>
                          <label class="form-check-label" for="disabled">
                            Disabled
                          </label>
                        </div>


                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>


            <!-- ******* -->
            <!-- tab for data property -->
            <!-- ******* -->
            <ngb-tab title='Data'>
              <ng-template ngbTabContent>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">

                      <!-- Dropdown for Default Value -->
                      <label for="defaultValue" class='mt-3 requiredClass'>Default Value</label>
                            <select id="defaultValue" class="form-control"
                            [ngModel]="'none'"  name='defaultValue' [(ngModel)]='componentData.defaultValue' ngModel>
                              <option >none</option>
                              <option >String</option>
                              <option >Sql Query</option>
                              <option >JS Function</option>
                              <option >JSON Logic</option>
                              </select>

                      <!-- Text Area for Sql Query -->
                      <div *ngIf="componentData.defaultValue=='Sql Query'">
                      <label for="Sql" class='mt-1 requiredClass'>Sql Query</label>
                      <textarea class="form-control" rows="3" id="error-label" placeholder='Sql'
                      [(ngModel)]='componentData.sqlQuery' ngModel name='sqlQuery'></textarea>
                      </div>

                      <!-- Text Area for JS Function -->

                      <div *ngIf="componentData.defaultValue=='JS Function'">
                      <label for="JsFunc" class='mt-3 requiredClass'>JS Function</label>
                      <textarea class="form-control" rows="3" id="JsFunc" placeholder='Enter Js Function'
                      [(ngModel)]='componentData.jsFunction' ngModel name='JsFunc'></textarea>
                      </div>


                      <div *ngIf="componentData.defaultValue=='JSON Logic'">
                      <!-- Text Area for JSON Logic -->
                      <label for="JSON" class='mt-3 requiredClass'>JSON Logic</label>
                      <textarea class="form-control" rows="3" id="JSON" placeholder='Enter JSON Logic'
                      [(ngModel)]='componentData.jsonLogic' ngModel
                      name='jsonLogic'></textarea>
                      </div>

                      <!-- Check box for non-persistence of data     -->
                      <div class="form-check  mt-3">
                        <input class="form-check-input" type="checkbox" value="non-persistent" id="non-persistent"
                        [(ngModel)]='componentData.nonPersistent' ngModel name='nonPersistence'>
                        <label class="form-check-label" for="non-persistent">
                          Non-Persistent
                        </label>
                      </div>

                      <!-- input for autocomplete -->
                      <div *ngIf="componentData.nonPersistent=='non-persistent'">
                      <form action=' '>
                        <input name='auto' type='text' id="auto-complete" autocomplete='on' ngMoldel name='autoComplete'/>
                      </form>
                    </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>


            <!-- ********************** -->
            <!-- tabs for validation -->

            <ngb-tab title='Validation'>
              <ng-template ngbTabContent>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">

                        <label for="appliedValidation" class="mt-3">Applied Validation</label>
                        <select [(ngModel)]='componentData.appliedValidation' ngModel name='appliedValidation'
                        id="appliedValidation" class="form-control">
                          <option >Required</option>
                          <option >Number +</option>
                          <option >Number -</option>
                          <option >email</option>
                          <option >Multiple Email</option>
                          <option >Alphabet</option>
                          <option >Alphanumeric</option>
                        </select>



                        <!-- input text for minimum length -->
                      <label for='min-length' class='mt-3'>Minimum Length</label>
                      <input type="number" class="form-control" id='min-lenght' placeholder='minimum length'
                      [(ngModel)]='componentData.minimumLength' ngModel name='minimumLenght'>

                      <!-- input text for maximum length -->
                      <label for='max-length' class='mt-3'>Maximum Length</label>
                      <input type="number" class="form-control" id='max-lenght' placeholder='maximum length'
                      ngModel [(ngModel)]='componentData.maximumLength' name='maximumLength'>

                      <!-- input text for Regular Expression -->
                      <label for='regular' class='mt-3'>Regular Expression</label>
                      <input type="number" class="form-control" id='regular' placeholder='Regular Expression Pattern'
                      [(ngModel)]='componentData.regularExpression' ngModel name='regularExpression'>

                      <!-- input text for custom error message -->
                      <label for='custom' class='mt-3'>Custom Error Message</label>
                      <input type="number" class="form-control" id='custom' placeholder='custom error message'
                      name='customErrorMessage' ngModel
                      [(ngModel)]='componentData.customErrorFunction'>

                      <!-- text area for custom Validation Function -->
                      <label for="valid" class='mt-3'>Custom Validation Function</label>
                      <textarea class="form-control" rows="3" id="valid" placeholder='Add custom validation function' name='customValidationFunction' ngModel [(ngModel)]='componentData.customValidationFunction'></textarea>

                      <!-- text area for custom JSON logic      -->
                      <label for="custom-JSON" class='mt-3'>JSON Logic</label>
                      <textarea class="form-control" rows="3" id="custom-JSON" placeholder='Enter custom JSON Logic'
                      [(ngModel)]='componentData.JSONLogic' ngModel name='JSONLogic'></textarea>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>



            <!-- ****************************************** -->
            <!-- tab for Layout -->
            <!-- ********************************************** -->

            <ngb-tab title='Layout'>
              <ng-template ngbTabContent>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">



                      <label for='margin-top' class='mt-3'>Margin Top</label>
                      <input type="Text" class="form-control" id='margin-top' placeholder='margin top'
                      name='marginTop' [(ngModel)]='componentData.marginTop' ngModel>



                      <label for='margin-right' class='mt-3'>Margin Right</label>
                      <input type="number" class="form-control" id='margin-right' placeholder='margin right'
                      name='marginRight' ngModel [(ngModel)]='componentData.marginRight'>



                      <label for='margin-bottom' class='mt-3'>Margin Bottom</label>
                      <input type="text" class="form-control" id='margin-bottom' placeholder='Margin bottom'
                      name='marginBottom' ngModel>



                      <label for='margin-left' class='mt-3'>Margin Left</label>
                      <input type="text" class="form-control" id='margin-left' placeholder='Margin Left'
                      name='marginLeft' [(ngModel)]='componentData.marginLeft' ngModel>


                    </div>
                  </div>
                </div>
              </ng-template>

            </ngb-tab>



<!--
            <!-- ************************** -->
            <!-- tabs for conditional -->
            **************************** -->

            <ngb-tab title='Conditional'>
              <ng-template ngbTabContent>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">


                      <!-- text area for custom Function -->
                      <label for="custom-func" class='mt-3'>Custom Function</label>
                      <textarea class="form-control" rows="3" id="custom-func" placeholder='Enter custom function'
                      [(ngModel)]='componentData.customFunction' ngModel name='customFunction'></textarea>


                      <!-- text area for json logic  -->
                      <label for="json-logic" class='mt-3'>JSON Logic</label>
                      <textarea class="form-control" rows="3" id="json logic" placeholder='Enter JSON Logic'
                      name='conditionalJsonLogic' [(ngModel)]='componentData.conditionalJsonLogic' ngModel></textarea>


                    </div>

                  </div>
                </div>
              </ng-template>

            </ngb-tab>

          </ngb-tabset>

        </div>

        <div class="col-md-4">
          <div class="card preview-card">
            <h4 class="card-header">
              Preview
            </h4>
            <div class="card-body">


               <ng-template #preview></ng-template>

            </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <button class='btn btn-primary mt-2' type='submit'>Save</button>
              </div>
              <div class="col-md-8">
                <button type="button" class="btn btn-danger mt-2 " (click)="close()">Remove</button>
              </div>
            </div>


        </div>
      </div>
    </form>
    </div>

  </div>

<!-- </ng-template> -->

<!-- <pre>{{closeResult}}</pre> -->
