 <!-- <ng-template #content let-c="close" let-d="dismiss" >  -->
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <ngb-tabset>
            <ngb-tab title='Display'>
              <ng-template ngbTabContent>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">

                      <form class='form-group'>

                        <!-- Label -->

                        <label for="label">Label</label>
                        <input type="text" class="form-control" id='label' placeholder="text">


                        <!-- Hide Label CheckBox -->

                        <div class="form-check mb-2 mt-3">
                          <input class="form-check-input" type="checkbox" value="" id="hideLabel">
                          <label class="form-check-label" for="hideLabel">
                            Hide Label
                          </label>
                        </div>



                        <!-- Drop down Menu of Label Position -->

                        <div ngbDropdown class="d-inline-block">
                          <button type='button' class="btn" id="LabelPosition" ngbDropdownToggle>Label Position</button>
                          <div ngbDropdownMenu aria-labelledby="LabelPosition">
                            <button type='button' class="dropdown-item">Top</button>
                            <button type='button' class="dropdown-item">Bottom</button>
                            <button type='button' class="dropdown-item">Left(Left Aligned)</button>
                            <button type='button' class="dropdown-item">Left(Right Aligned)</button>
                            <button type='button' class="dropdown-item">Right(Right Aligned)</button>
                            <button type='button' class="dropdown-item">Right(Left Aligned)</button>
                          </div>
                        </div>
                        <br/>

                        <!-- input box for Label Width -->
                        <label for="label-width" class='mt-3'>Label Width</label>
                        <input type="text" class="form-control" id='label-width' placeholder='20'>


                        <!-- input box for Label Margin -->
                        <label for="label-margin" class='mt-3'>Label Margin</label>
                        <input type="text" class="form-control" id='label-margin' placeholder='20'>


                        <!-- Input Box for Placeholder -->
                        <label for="placeholder" class='mt-3'>Placeholder</label>
                        <input type="text" class="form-control" id='placeholder' placeholder='placeholder'>

                        <!-- Input box for Description -->
                        <label for="desc" class='mt-3'>Description</label>
                        <input type="text" class="form-control" id='desc' placeholder='description for this field'>


                        <!-- Input Box for ToolTip -->
                        <label for='tooltip' class='mt-3'>Tooltip</label>
                        <input type="text" class="form-control" id='tooltip' placeholder='to add tooltip to this field'>


                        <!-- Text Area for Error Label -->
                        <label for="error-label" class='mt-3'>Error Label</label>
                        <textarea class="form-control" rows="3" id="error-label" placeholder='Error Label'></textarea>


                        <!-- Input box for Input masking -->
                        <label for='mask' class='mt-3'>Input Mask</label>
                        <input type="text" class="form-control" id='mask' placeholder='input mask'>

                        <!-- Input box for Prefix -->
                        <label for='prefix' class='mt-3'>Prefix</label>
                        <input type="text" class="form-control" id='prefix' placeholder="example '$','@'">

                        <!-- input box for suffix -->
                        <label for='suffix' class='mt-3'>Input Mask</label>
                        <input type="text" class="form-control" id='suffix' placeholder="example '$','@'">

                        <!-- input box for custom classes -->
                        <label for='custom' class='mt-3'>Custom CssClass</label>
                        <input type="text" class="form-control" id='custom' placeholder="add custom classes">


                        <!-- Input box for Tab index  -->
                        <label for='tab-index' class='mt-3'>Tab Index</label>
                        <input type="text" class="form-control" id='tab-index' placeholder='tab Index'>



                        <!-- check boxes for clear value when Hidden -->
                        <div class="form-check  mt-3">
                          <input class="form-check-input" type="checkbox" value="" id="clear">
                          <label class="form-check-label" for="clear">
                            Clear value when Hidden
                          </label>
                        </div>


                        <!-- Check box for Hidden -->
                        <div class="form-check mb-2 mt-3">
                          <input class="form-check-input" type="checkbox" value="" id="hidden">
                          <label class="form-check-label" for="hidden">
                            Hidden
                          </label>
                        </div>


                        <!-- check box for disabled -->
                        <div class="form-check mb-2 mt-3">
                          <input class="form-check-input" type="checkbox" value="" id="disabled">
                          <label class="form-check-label" for="disabled">
                            Disabled
                          </label>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>


            <!-- ******* -->
            <!-- tab for data property -->
            <!-- ******* -->
            <ngb-tab title='Data'>
              <ng-template ngbTabContent>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">

                      <!-- Dropdown for Default Value -->
                      <div ngbDropdown class="d-inline-block mt-4">
                        <button type='button' class="btn" id="LabelPosition" ngbDropdownToggle>Default Value Type</button>
                        <div ngbDropdownMenu aria-labelledby="LabelPosition">
                          <button type='button' class="dropdown-item">None</button>
                          <button type='button' class="dropdown-item">String</button>
                          <button type='button' class="dropdown-item">Sql Query</button>
                          <button type='button' class="dropdown-item">Js Function</button>
                          <button type='button' class="dropdown-item">JSON Logic</button>

                        </div>
                      </div>
                      <br/>
                      <!-- Text Area for Sql Query -->
                      <label for="Sql" class='mt-3'>Sql Query</label>
                      <textarea class="form-control" rows="3" id="error-label" placeholder='Sql'></textarea>

                      <!-- Text Area for JS Function -->

                      <label for="JsFunc" class='mt-3'>JS Function</label>
                      <textarea class="form-control" rows="3" id="JsFunc" placeholder='Enter Js Function'></textarea>


                      <!-- Text Area for JSON Logic -->
                      <label for="JSON" class='mt-3'>JSON Logic</label>
                      <textarea class="form-control" rows="3" id="JSON" placeholder='Enter JSON Logic'></textarea>

                      <!-- Check box for non-persistence of data     -->
                      <div class="form-check  mt-3">
                        <input class="form-check-input" type="checkbox" value="" id="non-persistent">
                        <label class="form-check-label" for="non-persistent">
                          Non-Persistent
                        </label>
                      </div>
                      <!-- input for autocomplete -->
                      <form action=' '>
                        <input name='auto' type='text' id="auto-complete" autocomplete='on' />
                      </form>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>


            <!-- ********************** -->
            <!-- tabs for validation -->

            <ngb-tab title='Validation'>
              <ng-template ngbTabContent>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">

                      <!-- input text for minimum length -->
                      <label for='min-length' class='mt-3'>Minimum Length</label>
                      <input type="number" class="form-control" id='min-lenght' placeholder='minimum length'>

                      <!-- input text for maximum length -->
                      <label for='max-length' class='mt-3'>Maximum Length</label>
                      <input type="number" class="form-control" id='max-lenght' placeholder='maximum length'>

                      <!-- input text for Regular Expression -->
                      <label for='regular' class='mt-3'>Regular Expression</label>
                      <input type="number" class="form-control" id='regular' placeholder='Regular Expression Pattern'>

                      <!-- input text for custom error message -->
                      <label for='custom' class='mt-3'>Custom Error Message</label>
                      <input type="number" class="form-control" id='custom' placeholder='custom error message'>

                      <!-- text area for custom Validation Function -->
                      <label for="valid" class='mt-3'>Custom Validation Function</label>
                      <textarea class="form-control" rows="3" id="valid" placeholder='Add custom validation function'></textarea>

                      <!-- text area for custom JSON logic      -->
                      <label for="custom-JSON" class='mt-3'>JSON Logic</label>
                      <textarea class="form-control" rows="3" id="custom-JSON" placeholder='Enter custom JSON Logic'></textarea>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>



            <!-- ****************************************** -->
            <!-- tab for Layout -->
            <!-- ********************************************** -->

            <ngb-tab title='Layout'>
              <ng-template ngbTabContent>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">


                      <label for='margin-top' class='mt-3'>Margin Top</label>
                      <input type="Text" class="form-control" id='margin-top' placeholder='margin top'>


                      <label for='margin-right' class='mt-3'>Margin Right</label>
                      <input type="number" class="form-control" id='margin-right' placeholder='margin right'>

                      <label for='margin-bottom' class='mt-3'>Margin Bottom</label>
                      <input type="text" class="form-control" id='margin-bottom' placeholder='Margin bottom'>



                      <label for='margin-left' class='mt-3'>Margin Left</label>
                      <input type="text" class="form-control" id='margin-left' placeholder='Margin Left'>


                    </div>
                  </div>
                </div>
              </ng-template>

            </ngb-tab>




            <!-- ************************** -->
            <!-- tabs for conditional -->
            <!-- **************************** -->
            <ngb-tab title='Conditional'>
              <ng-template ngbTabContent>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">


                      <!-- text area for custom Function -->
                      <label for="custom-func" class='mt-3'>Custom Function</label>
                      <textarea class="form-control" rows="3" id="custom-func" placeholder='Enter custom function'></textarea>


                      <!-- text area for json logic  -->
                      <label for="json-logic" class='mt-3'>JSON Logic</label>
                      <textarea class="form-control" rows="3" id="json logic" placeholder='Enter JSON Logic'></textarea>


                    </div>

                  </div>
                </div>
              </ng-template>

            </ngb-tab>

          </ngb-tabset>

        </div>

        <div class="col-md-4">
          <div class="card preview-card">
            <h4 class="card-header">
              Preview
            </h4>
            <div class="card-body">

              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem blanditiis aspernatur quas unde, nobis praesentium
                rem dignissimos maiores sit
              </p>

            </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-primary mt-3">Save</button>
              </div>
              <div class="col-md-8">
                <button type="button" class="btn btn-danger mt-3" (click)="close()">Remove</button>
              </div>
            </div>


        </div>
      </div>
    </div>

  </div>
<!-- </ng-template> -->

<!-- <pre>{{closeResult}}</pre> -->
